.idea/
*.iml

.vscode
webapp/maps_heatmaps/.firebase/hosting.cHVibGlj.cache

examples/pipeline-demo/__pycache__
examples/.vscode/settings.json
examples/pipeline-demo/.vscode/settings.json

backend_jobs/pipeline_utils.py/__pycache__
backend_jobs/pipeline_BACKEND_JOBS.egg-info
backend_jobs/dist
backend_jobs/build

backend_jobs/ingestion_pipeline/dist
backend_jobs/ingestion_pipeline/ingestion_pipeline_TALTAMIR.egg-info
backend_jobs/ingestion_pipeline/.vscode/settings.json
backend_jobs/ingestion_pipeline/__pycache__
backend_jobs/ingestion_pipeline/pipeline_lib/__pycache__
backend_jobs/ingestion_pipeline/providers/__pycache__
backend_jobs/ingestion_pipeline/build


backend_jobs/recognition_pipeline/.vscode/settings.json
backend_jobs/recognition_pipeline/__pycache__/
backend_jobs/recognition_pipeline/recognition_pipeline_OFRI_AVIELI.egg-info/
backend_jobs/recognition_pipeline/pipeline_lib/__pycache__/
backend_jobs/recognition_pipeline/dist/recognition_pipeline_OFRI_AVIELI-0.0.1-py3.7.egg
backend_jobs/recognition_pipeline/providers/__pycache__/
backend_jobs/recognition_pipeline/build/lib/
backend_jobs/recognition_pipeline/filters/__pycache__/
backend_jobs/recognition_pipeline/.vscode/launch.json
backend_jobs/recognition_pipeline/dist/recognition-pipeline-OFRI-AVIELI-0.0.1.tar.gz

backend_jobs/pipeline_utils/__pycache__/
backend_jobs/verify_labels/verify_labels_OFRI_AVIELI.egg-info/
backend_jobs/verify_labels/dist/verify_labels_OFRI_AVIELI-0.0.1-py3.7.egg
backend_jobs/verify_labels/pipeline_lib/__pycache__/
backend_jobs/verify_labels/__pycache__/
backend_jobs/recognition_removal/pipeline_lib/__pycache__/
backend_jobs/verify_labels/build/lib/
