<body>
    <h1> Run Python Pipelines</h1>
    <ul>
        <li>
            <a href="/ingestion">ingestion pipeline</a>
        </li>
        <li>
            <a href="/recognition">recognition pipeline</a>
        </li>
        <li>
            <a href="/ingestion_verification">ingestion verification pipeline</a>
        </li>
        <li>
            <a href="/recognition_verification">recognition verification pipeline</a>
        </li>
        <li>
            <a href="/ingestion_removal">ingestion removal pipeline</a>
        </li>
        <li>
            <a href="/recognition_removal">recognition removal pipeline</a>
        </li>
        <li>
            <a href="/all_pipelines">view all pipelines</a>
        </li>
    </ul>
    
<body>