<body>
    <h1> Run Python Pipelines</h1>
    <h2> Recognition Pipeline</h2>
    <form action="{{ url_for('submit_recognition') }}" method="post">
        <select name="input_type" id="input_type">
            <option value="provider">Ingestion provider</option>
            <option value="run-id">Ingestion run id</option>
        </select>
        <input type="text" id="input_value" name="input_value"><br><br>
        <label for="recognition_provider">Recognition provider:</label>
        <input type="text" id="recognition_provider" name="recognition_provider"><br><br>
        <input type="submit" value="Submit">
    </form>
<body>