apache-beam==2.24.0
firebase-admin==4.4.0
flickrapi==2.4.0
#TODO: fix git+git://github.com... requirement

-e git+https://github.com/googleinterns/ellipsis-step-internship.git@taltamir#egg=ingestion_pipeline_TALTAMIR&subdirectory=examples/ingestion-pipeline
#https://github.com/googleinterns/ellipsis-step-internship/tree/taltamir/examples/ingestion-pipeline@taltamir#egg=ingestion_pipeline_TALTAMIR&subdirectory=ingestion-pipeline