/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        width: 100%;
      }

      button {
        padding: 5px 10px 6px;
        font-weight: bold;
        cursor: pointer;
        width: 55px;
      }
      .sidepanel-image {
        max-width: 100%;
        max-height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;;
      }

      .map-info-window {
        width:150px;
        height:150px;
      }

      .fit-image {
        max-width: 100%;
        max-height: 100%;
      }

      .fit-text{
        width: 150px;
        word-wrap: break-word;
    }
      
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }
      
      /* [START maps_layer_heatmap] */
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;
      }
      
      /* [END maps_layer_heatmap] */

      .querisForm {
        padding: 10px;
      }
  .Sidebar {
    position: fixed;
  }  
  .rootStyle {
    width: 255px
  }
  .overlayStyle {
    width: 255px
  }
  .sidebarStyle {
    background-color: rgba(255, 255, 255, 0.9);
    width: 255px;
    z-index: 5;
    position: fixed;
    overflow-y: unset !important;
  }

  #num-of-results{
    text-align: center;
    font-family: "Roboto", "sans-serif";
  }

  #fixed-sidebar {
    position: sticky;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
  }


  #images-holder {
    overflow-y: scroll;
    height: 57vh;
  }

  .btn {
    align-self: flex-end;
  }

  .next-btn {
    margin: 0 5px 5px 0;
  }